.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: aquamarine;
}

div {
    border: 1px solid rebeccapurple;
}

#grade {
    display: grid;
    grid-template-rows: 100px 200px 200px 75px;
    grid-template-columns: 20% auto 15%;
    grid-template-areas: "nav header header" "nav produtos publicidade" "nav servicos publicidade" "nav footer .";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.border {
    border: 1px solid black;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

section#produtos {
    grid-area: produtos;
}

section#servicos {
    grid-area: servicos;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: publicidade;
    background-color: red;
}

#desafio {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 200px 100px;
    grid-template-areas: "desafio-header desafio-header" "desafio-nav desafio-conteudo" "desafio-nav desafio-rodape";
}

#desafio header {
    grid-area: desafio-header;
    background-color: violet;
}

#desafio nav {
    grid-area: desafio-nav;
    background-color: yellow;
}

#desafio section {
    grid-area: desafio-conteudo;
    background-color: orange;
}

#desafio footer {
    grid-area: desafio-rodape;
    background-color: green;
}

.pai {
    justify-items: stretch;
    /* start | end | center | stretch */
    align-items: stretch;
    /* start | end | center | stretch */
    display: grid;
    width: 95%;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-template-rows: 100px 100px;
    grid-row-gap: 10px;
}

.pai div {
    border: solid 1px;
    font-size: 21px;
    padding: 5px;
    background-color: yellow;
}

#desafio2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-gap: 5px;
    grid-template-areas: "teal teal blue blue blue" "teal teal red red green" "pink pink red red brown";
}

#teal {
    grid-area: teal;
    background-color: teal;
}

#pink {
    grid-area: pink;
    background-color: pink;
}

#red {
    grid-area: red;
    background-color: red;
}

#blue {
    grid-area: blue;
    background-color: blue;
}

#green {
    grid-area: green;
    background-color: green;
}

#brown {
    grid-area: brown;
    background-color: brown;
}