    .gridContainer {
        display: grid;
        grid-template-areas: "header header" "navEsq navDir" "paragrafo paragrafo" "imgParagrafo imgParagrafo" "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 1fr auto 200px 200px;
        grid-row-gap: 40px;
    }
    
    header {
        grid-area: header;
        display: flex;
        justify-content: center;
    }
    
    .navEsq {
        grid-area: navEsq;
        display: flex;
        justify-content: end;
    }
    
    .navDir {
        grid-area: navDir;
        display: flex;
        justify-content: start;
    }
    
    .paragrafo {
        grid-area: paragrafo;
    }
    
    .imgParagrafo {
        grid-area: imgParagrafo;
        display: flex;
        justify-content: center;
    }
    
    .navEsq ul,
    .navDir ul {
        display: flex;
        justify-content: space-around;
    }
    
    li {
        padding: 10px;
        list-style-type: none;
    }
    
    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    
    footer img {
        height: 100px;
    }
    
    @media only screen and (min-width: 768px) {
        .gridContainer {
            grid-template-areas: "navEsq header navDir" "paragrafo imgParagrafo imgParagrafo" "footer footer footer";
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 100px auto 200px;
        }
        .paragrafo {
            grid-area: paragrafo;
        }
        .imgParagrafo {
            grid-area: imgParagrafo;
            display: flex;
            justify-content: center;
        }
        .imgParagrafo img {
            width: 700px;
        }
        footer {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }