@media screen and (max-width: 600px) {
    .container {
        background-color: red;
    }
}

@media screen and (min-width: 600px) {
    .container {
        background-color: lightblue;
    }
}


/* 
@media screen and (min-width: 800px) {
    .container {
        background-color: blue;
    }
} */